.empty-set__skeleton[data-depth="-1"],
.empty-set__skeleton [data-depth="-1"] {
  background: unset !important;
  background-color: transparent !important;
  background-image: unset !important;
}

.empty-set__skeleton[data-depth="0"],
.empty-set__skeleton [data-depth="0"] {
  background: unset !important;
  background-color: var(--skeleton-bg-100) !important;
  background-image: unset !important;
}

.empty-set__skeleton[data-depth="1"],
.empty-set__skeleton [data-depth="1"] {
  background: unset !important;
  background-color: var(--skeleton-bg-200) !important;
  background-image: unset !important;
}

.empty-set__skeleton[data-depth="2"],
.empty-set__skeleton [data-depth="2"] {
  background: unset !important;
  background-color: var(--skeleton-bg-300) !important;
  background-image: unset !important;
}

.empty-set__skeleton[data-depth="3"],
.empty-set__skeleton [data-depth="3"] {
  background: unset !important;
  background-color: var(--skeleton-bg-400) !important;
  background-image: unset !important;
}

.empty-set__skeleton[data-depth="4"],
.empty-set__skeleton [data-depth="4"] {
  background: unset !important;
  background-color: var(--skeleton-bg-500) !important;
  background-image: unset !important;
}

.empty-set__skeleton[data-depth="5"],
.empty-set__skeleton [data-depth="5"] {
  background: unset !important;
  background-color: var(--skeleton-bg-600) !important;
  background-image: unset !important;
}

.empty-set__skeleton[data-depth="6"],
.empty-set__skeleton [data-depth="6"] {
  background: unset !important;
  background-color: var(--skeleton-bg-700) !important;
  background-image: unset !important;
}

.empty-set__skeleton[data-depth="7"],
.empty-set__skeleton [data-depth="7"] {
  background: unset !important;
  background-color: var(--skeleton-bg-800) !important;
  background-image: unset !important;
}

.empty-set__skeleton[data-depth="8"],
.empty-set__skeleton [data-depth="8"] {
  background: unset !important;
  background-color: var(--skeleton-bg-900) !important;
  background-image: unset !important;
}

.empty-set__skeleton[data-depth="9"],
.empty-set__skeleton [data-depth="9"] {
  background: unset !important;
  background-color: var(--skeleton-bg-1000) !important;
  background-image: unset !important;
}
