:root {
  --skeleton-bg-100: rgb(230, 230, 230);
  --skeleton-bg-200: rgb(210, 210, 210);
  --skeleton-bg-300: rgb(200, 200, 200);
  --skeleton-bg-400: rgb(190, 190, 190);
}

.dark {
  --skeleton-bg-100: rgb(25, 25, 25);
  --skeleton-bg-200: rgb(45, 45, 45);
  --skeleton-bg-300: rgb(55, 55, 55);
  --skeleton-bg-400: rgb(65, 65, 65);
}
